---
import Layout from "../layouts/Layout.astro";

---

<Layout title="404 - Error">
    <div>
        <h1>404</h1>
        <h2>Page not found</h2>
        <p>Seems like you've lost your way, Let's bring you back <a href="/">Home</a> </p>
    </div>

</Layout>

<style>
    h1{
        font-size: 9rem;
        padding-top: 10%;
    }
    h2,h1,p{
        text-align: center;
        margin: 0;

    }
    h2{
        font-size: 4rem;
    }
    p{
        font-size: 1.5rem;
        margin-bottom: 20%;
    }
    a{
        color: red;
        font-weight: bold;
    }
</style>