---

---

<header class="primary-header flex">
  <div>
    <a href="/">
      <h1 class="logo">Mazen</h1>

    </a>
  </div>
  <button
    class="mobile-nav-toggle"
    aria-controls="primary-navigation"
    aria-expanded="false"><span class="sr-only">Menu</span></button
  >
  

  <nav>
    <ul
      data-visible="false"
      id="primary-navigation"
      class="primary-navigation flex"
    >
      <li>
        <a href="/portfolio"> Portfolio</a>
      </li>
      <li>
        <a href="/#sayhi"> Contact</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  .flex {
    display: flex;
    gap: var(--gap, 1rem);
  }
  .logo {
    margin: 2rem;
    text-transform: uppercase;
  }
  .primary-header {
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
  }
  .primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .primary-navigation a > [aria-hidden="true"] {
    font-weight: 700;
    margin-inline-end: 0.75em;
  }

  .mobile-nav-toggle {
    display: none;
  }

  @media (max-width: 35em) {
    .primary-navigation {
      --gap: 3em;
      position: fixed;
      inset: 0 0 0 30%;
      z-index: 1000;
      background: steelblue;
      flex-direction: column;
      padding: min(30vh, 10rem) 2em;
      background: hsla(0, 0%, 80%, 0.75);
      transform: translateX(100%);
      transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visible="true"] {
      transform: translateX(0%);
    }
    header {
      position: fixed;
      width: 100%;
      background: rgb(173, 173, 173);
      border-bottom-left-radius: 22px;
      border-bottom-right-radius: 22px;
      z-index: 100;
      
    }

    
    .mobile-nav-toggle {
      display: block;
      position: absolute;
      width: 2rem;
      background-repeat: no-repeat;
      border: 0;
      aspect-ratio: 0.8;
      top: 2rem;
      right: 2rem;
      z-index: 9999;
      background: url("/img/bars-solid.svg");
    }

    @supports (backdrop-filter: blur(1rem)) {
      .primary-navigation {
        background: hsl(0 0% 100% /0.1);
        backdrop-filter: blur(1rem);
      }
      
    }
  }

  
</style>

<script>
  const primaryNav = document.querySelector(".primary-navigation");
  const navToggle = document.querySelector(".mobile-nav-toggle");

  navToggle?.addEventListener("click", () => {
    const visibility = primaryNav?.getAttribute("data-visible");
    if (visibility === "false") {
      primaryNav?.setAttribute("data-visible", "true");
    } else if (visibility === "true") {
      primaryNav?.setAttribute("data-visible", "false");
    }
  });
</script>
