---

---

<div class="marquee_container">
	<div class="blobs">
	  <div class="blob1"></div>
	  
	</div>
	<div class="marquee">
	  <div class="marquee_group">
		<span>Passionate</span>
		<span>Innovative</span>
		<span>Talented</span>
	  </div>
	  <div class="marquee_group">
		<span>Passionate</span>
		<span>Innovative</span>
		<span>Talented</span>
	  </div>
	  
	</div>
  </div>

<style>
.marquee_container {
  height: 70vh;
  position: relative;
  overflow: hidden;
}
.marquee {
  border: 1px solid grey;
  position: absolute;
  top: 50%;
  transform: translateY(-80%) rotate(-5deg);
  left: -1%;
  width: 102%;
  height: auto;
  display: flex;
  gap: 50px;
  overflow: hidden;
}
@supports (height: fit-content){
  .marquee{
    height: fit-content
  }
}
.marquee_group {
  display: flex;
  flex-shrink: 0;
  gap: 45px;
  min-width: 100%;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  animation: scroll 15s linear infinite;
  
}
.marquee span {
  font-size: 10vw;
  font-weight: 500;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 60px));
  }
}

@media screen and (max-width:768px) {
	.marquee_container{
		height: 350px;
	}
	
}
</style>


